<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>





<div id="mapid" style="width: 600px; height: 400px;"></div>
<script>

	var mymap = L.map('mapid').setView([53.553189,10.006442], 14);

	L.tileLayer('https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
		maxZoom: 18,
		attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
			'<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
			'Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
		id: 'mapbox/streets-v11'
	}).addTo(mymap);

	L.marker([53.553189, 10.006442]).addTo(mymap).bindPopup("<b>Package One</b><br /> package one : 300 euro <br> abcd").openPopup();

	L.circle([53, -0.11], {
		color: 'red',
		fillColor: '#f03',
		fillOpacity: 0.5,
		radius: 500
	}).addTo(mymap);

	L.polygon([
[53.553189,10.006442],
[53.553154,10.006274,17],
[53.553353,10.006162,17],
[53.553285,10.005842,17],
[53.553291,10.005787,17],
[53.553222,10.005452,17],
[53.552893,10.005445,17],
[53.552874,10.005405,17],
[53.55286,10.005366,17],
[53.552821,10.005257,17],
[53.552711,10.005056,17],
[53.552588,10.004732,17.3],
[53.552422,10.004174,18.6],
[53.552549,10.004032,19],
[53.552639,10.003971,19.3],
[53.552692,10.003863,19.7],
[53.552696,10.003745,20],
[53.55337,10.002711,22.7],
[53.553203,10.002534,23],
[53.55245,10.001737,24.8],
[53.552212,10.001508,24.7],
[53.552154,10.001459,24.7],
[53.552027,10.001362,24.6],
[53.551769,10.001214,24.5],
[53.551737,10.00119,24.5],
[53.551525,10.001263,24.6],
[53.551365,10.000835,24.7],
[53.551272,10.000604,24.6],
[53.551007,9.999902,24.2],
[53.550986,9.999713,24.1],
[53.550976,9.999606,24.1],
[53.550961,9.999495,24.1],
[53.550918,9.999265,24.1],
[53.550869,9.999291,24.1],
[53.550838,9.999308,24.1],
[53.550779,9.9988,23.9],
[53.550747,9.998505,23.8],
[53.550652,9.998536,23.6],
[53.550629,9.998545,23.5],
[53.550612,9.998342,23.3],
[53.5506,9.998186,23],
[53.550577,9.997804,22.4],
[53.550569,9.997712,22.2],
[53.550561,9.997628,21.9],
[53.550559,9.997383,21.5],
[53.550552,9.997317,21],
[53.550404,9.997348,20.6],
[53.550315,9.997339,20.1],
[53.550235,9.997273,19.7],
[53.550094,9.997055,18.8],
[53.550031,9.997028,18.3],
[53.55004,9.996903,17.9],
[53.550031,9.997028,15.3],
[53.549988,9.996947,14.5],
[53.549965,9.996903,14.1],
[53.549929,9.996844,13.9],
[53.549884,9.996769,13.8],
[53.549722,9.996652,13.5],
[53.549629,9.996719,13.4],
[53.549587,9.996671,13.4],
[53.54954,9.996674,13.4],
[53.549437,9.996689,13.3],
[53.549369,9.996691,13.3],
[53.549328,9.996729,13.3],
[53.549281,9.996692,13.3],
[53.549226,9.996673,13.2],
[53.549088,9.99672,13.2],
[53.548974,9.996723,13.1],
[53.548821,9.996791,13],
[53.548611,9.996875,12.9],
[53.548505,9.996909,12.8],
[53.548382,9.996923,12.6],
[53.548291,9.996926,12.6],
[53.548265,9.996926,12.5],
[53.548138,9.99693,12.5],
[53.548106,9.996985,12.4],
[53.547895,9.996985,12.4],
[53.547873,9.996981,12.3],
[53.547815,9.996971,12.3],
[53.547727,9.996969,12.2],
[53.547702,9.996976,12.2],
[53.547651,9.997007,12.1],
[53.547583,9.997047,12.1],
[53.54746,9.997119,11.9],
[53.547401,9.997156,11.7],
[53.547319,9.99717,11.6],
[53.547149,9.997209,11.4],
[53.547067,9.997228,11.3],
[53.546963,9.997253,11.1],
[53.546879,9.997272,11],
[53.546829,9.997284,10.8],
[53.546808,9.997271,10.7],
[53.546774,9.997243,10.5],
[53.5467,9.997179,10.4],
[53.546668,9.99715,10.2],
[53.546573,9.997104,9.7],
[53.546553,9.997004,9.2],
[53.546541,9.996936,8.7],
[53.546454,9.996941,8.2],
[53.546404,9.996892,7.7],
[53.546376,9.996807,7.2],
[53.546365,9.996773,6.7],
[53.546364,9.996755,6.2],
[53.546353,9.996715,5.9],
[53.546338,9.996667,5.5],
[53.546344,9.996639,5.2],
[53.54631,9.996522,4.9],
[53.546273,9.9964,4.6],
[53.546201,9.996121,4],
[53.545976,9.995333,2.5],
[53.545929,9.995242,2.6],
[53.545898,9.995185,2.6],
[53.545787,9.994948,2.7],
[53.545641,9.994539,3],
[53.545609,9.994448,3.1],
[53.5456,9.994419,3.2],
[53.545586,9.994379,3.3],
[53.545499,9.994134,3.5],
[53.545373,9.99389,3.7],
[53.545341,9.993828,3.8],
[53.545222,9.993578,4],
[53.545104,9.993292,4.2],
[53.54489,9.992755,4.7],
[53.544833,9.992536,4.8],
[53.544796,9.992321,4.8],
[53.544774,9.992143,4.7],
[53.544787,9.991684,4.6],
[53.544799,9.991397,4.6],
[53.544812,9.990967,4.5],
[53.544838,9.990786,4.5],
[53.544922,9.990433,4.5],
[53.544946,9.990043,4.5],
[53.544923,9.989849,4.4],
[53.544838,9.989874,4.3],
[53.544731,9.989869,4.2],
[53.544684,9.98987,4.2],
[53.544696,9.989655,4.1],
[53.544657,9.989667,4.1],
[53.544244,9.98979,4.2],
[53.544067,9.989841,4.5],
[53.544008,9.989858,4.8],
[53.543991,9.989631,5],
[53.543967,9.989325,5.5],
[53.543944,9.98898,6],
[53.543899,9.988323,11.3],
[53.543777,9.987023,11.7],
[53.543496,9.987062,11.8],
[53.543274,9.987105,11.5],
[53.543064,9.98714,11.3],
[53.543016,9.987169,11.2],
[53.542954,9.987233,11.1],
[53.542936,9.987278,11],
[53.542929,9.987202,10.9],
[53.542923,9.987154,10.7],
[53.542834,9.987175,10.6],
[53.542774,9.987193,10.4],
[53.542771,9.987144,10.3],
[53.542645,9.985389,6.9],
[53.542629,9.985066,6.2],
[53.542442,9.985093,5.4],
[53.542304,9.985113,4.9],
[53.541639,9.985248,1.9],
[53.541592,9.985257,1.6],
[53.541374,9.985292,1.1],
[53.541322,9.98531,0.8],
[53.541307,9.985327,0.6],
[53.5413,9.985346,0.5],
[53.541295,9.985373,0.4],
[53.541292,9.985462,0.3],
[53.541258,9.985466,0.2],
[53.541275,9.985772,0],
[53.541232,9.98581,0],
[53.54104,9.985841,0],
[53.540947,9.9858,0],
[53.540934,9.985802,0],
[53.540947,9.9858,0],
[53.54104,9.985841,0],
[53.541232,9.98581,0],
[53.541275,9.985772,0],
[53.541258,9.985466,0],
[53.541292,9.985462,0],
[53.541295,9.985373,0],
[53.5413,9.985346,0],
[53.541307,9.985327,0],
[53.541322,9.98531,0],
[53.541374,9.985292,0],
[53.541592,9.985257,0],
[53.541639,9.985248,0],
[53.542304,9.985113,0],
[53.542442,9.985093,0],
[53.542629,9.985066,0.2],
[53.542645,9.985389,0.4],
[53.542771,9.987144,3.6],
[53.542774,9.987193,4],
[53.542776,9.987211,4.5],
[53.542747,9.987219,4.9],
[53.542692,9.98723,5.4],
[53.54269,9.987206,5.8],
[53.542737,9.987194,6.2],
[53.542734,9.987126,6.6],
[53.543239,9.987032,8.1],
[53.54352,9.986985,9],
[53.544019,9.986874,10.1],
[53.544026,9.986802,10.2],
[53.54403,9.986753,10.4],
[53.544635,9.986915,9.5],
[53.544715,9.986936,9.2],
[53.544756,9.986928,8.8],
[53.544773,9.986901,8.5],
[53.544804,9.986842,8.1],
[53.544835,9.986801,7.7],
[53.544843,9.98679,7.3],
[53.544933,9.986807,6.8],
[53.545017,9.986822,6.3],
[53.545034,9.98679,5.9],
[53.545257,9.986858,5],
[53.545423,9.986917,4.5],
[53.545615,9.986984,3.6],
[53.545746,9.987032,3.2],
[53.545999,9.987177,3.2],
[53.546182,9.987327,3.7],
[53.546263,9.987415,4],
[53.546405,9.987575,4.2],
[53.54682,9.988188,5.8],
[53.546957,9.988459,5.9],
[53.547017,9.988447,5.9],
[53.547078,9.988592,5.9],
[53.547107,9.988622,5.9],
[53.547162,9.988852,5.9],
[53.547174,9.988904,5.9],
[53.547498,9.988961,5.4],
[53.547639,9.988912,5.4],
[53.54763,9.988764,5.3],
[53.547752,9.988719,5.3],
[53.548387,9.988606,6.2],
[53.548423,9.988365,6.5],
[53.548466,9.988163,6.9],
[53.548602,9.987716,7.9],
[53.54862,9.987658,8.3],
[53.548703,9.98774,8.6],
[53.548781,9.987693,9],
[53.548916,9.987477,9.7],
[53.549013,9.987596,9.8],
[53.549107,9.987805,9.9],
[53.549201,9.988013,10],
[53.549345,9.988326,10.2],
[53.549727,9.989172,11.3],
[53.549829,9.989393,11.6],
[53.549849,9.989436,11.8],
[53.550208,9.990218,15.8],
[53.550199,9.990463,15.8],
[53.550588,9.991255,15.9],
[53.55061,9.9913,15.9],
[53.550669,9.991421,15.9],
[53.550959,9.992019,16.2],
[53.551042,9.992184,16.4],
[53.550853,9.992448,16.6],
[53.550626,9.992786,16.7],
[53.550571,9.992672,16.7],
[53.550626,9.992786,16],
[53.550736,9.992995,16],
[53.550907,9.993331,15.4],
[53.551035,9.99358,13.9],
[53.551082,9.993626,13.3],
[53.55119,9.993787,12.8],
[53.551514,9.99437,12.3],
[53.551577,9.994517,12.4],
[53.551599,9.994592,12.4],
[53.551661,9.994588,12.4],
[53.551883,9.994587,12.5],
[53.55193,9.994594,12.5],
[53.551967,9.994601,12.4],
[53.552003,9.994616,12.2],
[53.552025,9.994631,12.1],
[53.55204,9.994683,12],
[53.552062,9.994753,11.9],
[53.552071,9.994782,12],
[53.552108,9.994728,12.2],
[53.552144,9.994613,12.4],
[53.552192,9.994794,12.6],
[53.552252,9.994978,12.8],
[53.552353,9.995203,13],
[53.552695,9.995852,13],
[53.552896,9.996184,12.7],
[53.552916,9.99615,12.6],
[53.553064,9.99638,12.4],
[53.553291,9.996745,12.5],
[53.55347,9.997044,12.1],
[53.55391,9.997752,11.2],
[53.555223,9.999902,14.6],
[53.555296,10.000047,14.6],
[53.555363,10.000104,14.6],
[53.555455,10.000173,14.5],
[53.555583,10.000183,14.5],
[53.555631,10.000172,14.5],
[53.555642,10.000255,14.4],
[53.555646,10.00029,14.4],
[53.555648,10.00031,14.3],
[53.555618,10.000364,14.2],
[53.555423,10.000732,14],
[53.55541,10.000757,13.9],
[53.555502,10.000882,13.8],
[53.555674,10.001104,13.6],
[53.555703,10.001139,13.4],
[53.555712,10.001156,13.3],
[53.555719,10.001195,13.2],
[53.555732,10.001254,13],
[53.55576,10.001371,13],
[53.555617,10.001627,13],
[53.555382,10.002064,13],
[53.555269,10.002267,13],
[53.555236,10.002323,13],
[53.555099,10.002562,13.1],
[53.554884,10.002936,15.3],
[53.554803,10.00307,15.4],
[53.55444,10.003676,15.4],
[53.554314,10.003865,15.4],
[53.55425,10.004003,15.3],
[53.554175,10.004078,15.3],
[53.554073,10.004162,15.5],
[53.554041,10.004197,15.6],
[53.55398,10.004237,15.7],
[53.55397,10.004247,15.8],
[53.553765,10.004465,15.9],
[53.5534,10.004879,16.3],
[53.552893,10.005445,16.7],
[53.553222,10.005452,17],
[53.553291,10.005787,17],
[53.553285,10.005842,17],
[53.553353,10.006162,17],
[53.553154,10.006274,17],
[53.553189,10.006442,17]
]).addTo(mymap);


</script>



</body>
</html>