@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Home
4. Header
	4.1 Logo
	4.2 Navigation
	4.3 Search
	4.4 Hamburger
5. Menu
	5.1 Menu Social
	5.2 Menu copyright
6. Elements
	6.1 Buttons
	6.2 Accordions & Tabs
		6.2.1 Accordions
		6.2.2 Tabs
	6.3 Loaders
	6.4 Milestones
	6.5 Icon Boxes
7. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
body
{
	font-family: 'Montserrat', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #131a2f;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'Montserrat', sans-serif;
	font-size: 15px;
	line-height: 2;
	font-weight: 400;
	color: #7d8293;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #FF6347;
}
p a:hover
{
	color: #FFFFFF;
	background: #ffa07f;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: rgba(254, 60, 82, 0.8);
	color: #FFFFFF;
}
p::selection
{
	
}
h1{font-size: 48px;}
h2{font-size: 40px;}
h3{font-size: 24px;}
h4{font-size: 18px;}
h5{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	font-family: 'Montserrat', sans-serif;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection, 
h2::selection, 
h3::selection, 
h4::selection, 
h5::selection, 
h6::selection
{
	
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.nopadding
{
	padding: 0px !important;
}
.parallax-window
{
    min-height: 400px;
    background: #00000049;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.section_title
{
	padding-top: 111px;
	line-height: 1.1;
}
.section_title h2
{
	font-weight: 300;
	color: #131a2f;
}
.section_title div
{
	font-size: 16px;
	font-weight: 400;
	color: #7d8293;
	text-transform: uppercase;
	margin-top: 19px;
}
.button
{
	display: inline-block;
	width: 161px;
	height: 56px;
	background: #fe3c52;
	text-align: center;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.button a
{
	display: block;
	font-size: 16px;
	color: #FFFFFF;
	font-weight: 500;
	line-height: 56px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

/*********************************
3. Home
*********************************/

.home
{
	width: 100%;
}
.home_background
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.home_content
{
	width: 100%;
	height: 601px;
}
.home_content_inner
{
	position: absolute;
	top: 46%;
	left: 0;
	width: 100%;
	text-align: left;
}
.home_title
{
	font-size: 48px;
	font-weight: 100;
	color: #FFFFFF;
}
.home_breadcrumbs
{
	margin-top: -6px;
}
.home_breadcrumbs_list
{

}
.home_breadcrumb
{
	display: inline-block;
	font-size: 18px;
	font-weight: 200;
	color: #FFFFFF;
}
.home_breadcrumb a
{
	font-size: 18px;
	font-weight: 200;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.home_breadcrumb a:hover
{
	color: #fe3c52;
}
.home_breadcrumb:not(:last-child)::after
{
	content: '/';
	margin-left: 5px;
}

/*********************************
4. Header
*********************************/

.header
{
	display: block;
	position: fixed;
	top: 47px;
	width: 100%;
	z-index: 100;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled
{
	top: 15px;
}
.header_container
{
	width: 100%;
	height: 121px;
	background: #131a2f;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .header_container
{
	height: 90px;
}

/*********************************
4.1 Logo
*********************************/

.logo_container
{
	-webkit-transform: translateY(8px);
	-moz-transform: translateY(8px);
	-ms-transform: translateY(8px);
	-o-transform: translateY(8px);
	transform: translateY(8px);
}
.logo
{
	height: 100%;
	padding-left: 72px;
}
.logo div
{
	color: #FFFFFF;
	text-transform: uppercase;
}
.logo div:first-of-type
{
	font-size: 24px;
	font-weight: 500;
	line-height: 0.75;
}
.logo div:nth-child(2)
{
	font-size: 10px;
	font-weight: 500;
	color: #929292;
	letter-spacing: 0.13em;
	margin-top: 2px;
	padding-left: 2px;
}
.logo_image
{
	position: absolute;
	top: -34px;
	left: 41px;
	width: 50px;
	height: 41px;
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.header.scrolled .logo_image
{
	width: 40px;
	top: -28px;
	left: 46px;
}
.logo_image img
{
	max-width: 100%;
}

/*********************************
4.2 Navigation
*********************************/

.main_nav
{
	/*height: 100%;*/
	padding-right: 173px;
}
.main_nav_list
{
	height: 100%;
}
.main_nav_item
{
	display: inline-block;
	position: relative;
	/*padding-left: 22px;
	padding-right: 22px;*/
	margin-right: -4px;
	padding-top: 2px;
}
.main_nav_item.active::after
{
	display: block;
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #fe435b;
	content: '';
}
.main_nav_item a
{
	display: block;
	font-size: 15px;
	font-weight: 400;
	color: #FFFFFF;
	line-height: 121px;
	padding-left: 22px;
	padding-right: 22px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.header.scrolled .main_nav_item a
{
	line-height: 90px;
}
.main_nav_item.active a
{
	color: #fe435b;
}
.main_nav_item:hover a
{
	color: #fe435b;
}

/*********************************
4.3 Search
*********************************/

.search
{
	position: absolute;
	top: 0;
	right: 0;
	width: 121px;
	height: 100%;
	background: #fe435b;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.search.active
{
	width: 300px;
}
.search:hover
{
	background: #eb334a;
}
.search_form
{
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
}
.search_input
{
	display: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 25px;
	height: 36px;
	background: transparent;
	border: solid 2px rgba(255, 255, 255, 0.5);
	color: #FFFFFF;
	outline: none;
	padding-left: 10px;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.search.active .search_input
{
	display: inline-block;
}
.search_button
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 49px;
	width: 24px;
	height: 26px;
	background: transparent;
	border: none;
	outline: none;
	cursor: pointer;
	pointer-events: none;
}
.search_button img
{
	pointer-events: none;
}
.search_button:focus
{
	outline: none;
}
.search.active .search_button
{
	pointer-events: auto;
}
.search_input::-webkit-input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: rgba(255, 255, 255, 0.5) !important;
}
.search_input:-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: rgba(255, 255, 255, 0.5) !important;
}
.search_input::-moz-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: rgba(255, 255, 255, 0.5) !important;
} 
.search_input:-ms-input-placeholder
{ 
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: rgba(255, 255, 255, 0.5) !important;
}
.search_input::input-placeholder
{
	font-size: 12px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: rgba(255, 255, 255, 0.5) !important;
}

/*********************************
4.4 Hamburger
*********************************/

.hamburger
{
	display: none;
	font-size: 24px;
	padding: 10px;
	color: #3a3a3a;
	margin-right: 20px;
	cursor: pointer;
}
.hamburger i
{
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover i
{
	color: #fe435b;
}

/*********************************
5. Menu
*********************************/

.menu_container
{
	position: fixed;
	top: 0;
	right: -50vw;
	width: 50vw;
	height: 100vh;
	background: #FFFFFF;
	z-index: 1000;
	-webkit-transition: all 0.6s ease;
	-moz-transition: all 0.6s ease;
	-ms-transition: all 0.6s ease;
	-o-transition: all 0.6s ease;
	transition: all 0.6s ease;
	visibility: hidden;
	opacity: 0;
}
.menu_container.active
{
	visibility: visible;
	opacity: 1;
	right: 0;
}
.menu
{
	position: absolute;
	width: 100%;
	top:150px;
	left: 0;
	padding-left: 15%;
	padding-right: 79px;
}
.menu_list
{
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 1000ms 600ms ease;
	opacity: 0;
	margin-top: 30px;
}
.menu_container.active .menu_list
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}
.menu_item
{
	margin-bottom: 9px;
}
.menu_item a
{
	font-family: 'Open Sans', sans-serif;
	font-size: 36px;
	font-weight: 700;
	color: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_item a:hover
{
	color: #fe435b;
}
.menu_close_container
{
	position: absolute;
	top: 86px;
	right: 79px;
	width: 21px;
	height: 21px;
	cursor: pointer;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu_close
{
	top: 9px;
	width: 21px;
	height: 3px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close::after
{
	display: block;
	position: absolute;
	top: -9px;
	left: 9px;
	content: '';
	width: 3px;
	height: 21px;
	background: #3a3a3a;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.menu_close_container:hover .menu_close,
.menu_close_container:hover .menu_close::after
{
	background: #fe435b;
}
.menu_search_form
{
	position: relative;
}
.menu_search_input
{
	width: 100%;
	height: 50px;
	border: solid 2px rgba(19,26,47,0.5);
	outline: none;
	padding-left: 15px;
}
.menu_search_submit
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 50px;
	height: 50px;
	right: 0px;
	border: none;
	outline: none;
	background: transparent;
	cursor: pointer;
}
.menu_search_submit img
{
	max-width: 100%;
}

/*********************************
5.1 Menu Social
*********************************/

.menu_social_container
{
	margin-top: 100px;
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 1000ms 1000ms ease;
	-moz-transition: all 1000ms 1000ms ease;
	-ms-transition: all 1000ms 1000ms ease;
	-o-transition: all 1000ms 1000ms ease;
	transition: all 1000ms 1000ms ease;
	opacity: 0;
	padding-left: 4px;
}
.menu_social_item
{
	display: inline-block;
	margin-right: 30px;
}
.menu_social_item a i
{
	color: #3a3a3a;
}
.menu_social_item a i:hover
{
	color: #fe435b;
}
.menu_container.active .menu_social_container
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

/*********************************
5.2 Menu copyright
*********************************/

.menu_copyright
{
	margin-top: 60px;
	-webkit-transform: translateY(3.5rem);
	-moz-transform: translateY(3.5rem);
	-ms-transform: translateY(3.5rem);
	-o-transform: translateY(3.5rem);
	transform: translateY(3.5rem);
	-webkit-transition: all 1000ms 1200ms ease;
	-moz-transition: all 1000ms 1200ms ease;
	-ms-transition: all 1000ms 1200ms ease;
	-o-transition: all 1000ms 1200ms ease;
	transition: all 1000ms 1200ms ease;
	opacity: 0;
	padding-left: 3px;
}
.menu_container.active .menu_copyright
{
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	-o-transform: translateY(0px);
	transform: translateY(0px);
	opacity: 1;
}

/*********************************
6. Elements
*********************************/

.elements
{
	padding-top: 120px;
	padding-bottom: 108px;
}
.elements_title
{
	font-size: 40px;
	font-weight: 400;
	color: #131a2f;
}

/*********************************
6.1 Buttons
*********************************/

.buttons_container
{
	margin-top: 74px;
}
.button_1
{
	background: rgba(254,60,82,1);
	vertical-align: middle;
}
.button_2
{
	background: rgba(19,26,47,1);
	vertical-align: middle;
}
.button_3
{
	background: transparent;
	border: solid 2px rgba(254,60,82,1);
	vertical-align: middle;
}
.button_3 a
{
	color: rgba(254,60,82,1);
}
.button_4
{
	background: transparent;
	border: solid 2px rgba(19,26,47,1);
	vertical-align: middle;
}
.button_4 a
{
	color: rgba(19,26,47,1);
}
.button_1:hover
{
	background: rgba(254,60,82,0.8);
}
.button_2:hover
{
	background: rgba(19,26,47,0.8);
}
.button_3:hover
{
	background: rgba(254,60,82,0.8);
}
.button_3:hover a
{
	color: #FFFFFF;
}
.button_4:hover
{
	background: rgba(19,26,47,0.8);
}
.button_4:hover a
{
	color: #FFFFFF;
}
.elements_button
{
	margin-right: 17px;
	margin-bottom: 15px;
}

/*********************************
6.2 Accordions & Tabs
*********************************/

.accordions_tabs
{
	margin-top: 89px;
}
.accordions_tabs_container
{
	margin-top: 74px;
}

/*********************************
6.2.1 Accordions
*********************************/

.accordion_container
{
	margin-bottom: 20px;
}
.accordion_container:last-child
{
	margin-bottom: 0;
}
.accordion
{
	height: 53px;
	width: 100%;
	border: solid 2px #dbdbdb;
	background: #FFFFFF;
	padding-left: 20px;
	cursor: pointer;
	color: #131a2f;
	font-size: 15px;
	font-weight: 400;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion div
{
	max-width: 91%;
	overflow: hidden;
	white-space: nowrap;
}
.accordion.active
{
	background: #fe3c52;
	border: solid 2px #fe3c52;
	color: #FFFFFF;
}
.accordion:active
{
	background: #fe3c52 !important;
}
.accordion::after
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 13px;
	height: 100%;
	content: '+';
	font-size: 16px;
	color: #07122c;
	font-weight: 400;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.accordion.active::after
{
	color: #FFFFFF;
	content: '-';
}
.accordion:hover
{
	background: #fe3c52;
	color: #FFFFFF;
	border: solid 2px #fe3c52;
}
.accordion:hover::after
{
	color: #FFFFFF;
}
.accordion_panel
{
	padding-left: 15px;
	padding-right: 15px;
	max-height: 0px;
	overflow: hidden;
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.accordion_panel p
{
	padding-top: 15px;
}
.accordion_panel p:last-of-type
{
	margin-bottom: 0;
}

/*********************************
6.2.2 Tabs
*********************************/

.tabs_container
{
	width: 100%;
}
.tabs
{
	width: 100%;
}
.tab
{
	height: 50px;
	background: transparent;
	font-size: 15px;
	color: #131a2f;
	font-weight: 400;
	line-height: 50px;
	flex-grow: 1;
	text-align: center;
	cursor: pointer;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tab.active,
.tab:hover
{
	background: #fe3c52;
	color: #FFFFFF;
}
.tab_panels
{
	padding-left: 41px;
	padding-right: 20px;
	padding-top: 48px;
	padding-bottom: 49px;
	border: solid 2px #fe3c52;
}
.tab_panel
{
	display: none !important;
	width: 100%;
	height: 100%;
	-webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}
/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.tab_panel.active
{
	display: block !important;
}
.tab_panel_content p:last-of-type
{
	margin-bottom: 0;
}

/*********************************
6.3 Loaders
*********************************/

.loaders
{
	margin-top: 120px;
}
.loaders_container
{
	margin-top: 82px;
}
.loader
{
	width: 230px;
	height: 230px;
	margin: 0 auto;
}
.loader span
{
	position: absolute;
	left: 50%;
	top: 57%;
	-webkit-transform: translateX(-50%);
	-moz-transform: translateX(-50%);
	-ms-transform: translateX(-50%);
	-o-transform: translateX(-50%);
	transform: translateX(-50%);
	font-size: 18px;
	color: #7d8293;
	margin-top: 8px;
	white-space: nowrap;
}
.loader .progressbar-text
{
	top: 45% !important;
}

/*********************************
6.4 Milestones
*********************************/

.milestones
{
	margin-top: 105px;
}
.milestones_container
{
	margin-top: 74px;
}
.milestone
{
	text-align: center;
}
.milestone_text
{
	font-size: 18px;
	font-weight: 300;
	color: #7d8293;
	margin-top: -3px;
}
.milestone_icon
{
	width: 100%;
	height: 82px;
	text-align: center;
}
.milestone_icon svg,
.milestone_icon img
{
	max-height: 100%;
	width: auto;
}
.milestone_counter
{
	font-size: 36px;
	font-weight: 300;
	color: #131a2f;
	margin-top: 43px;
}
.svg path,
.svg rect,
.svg polygon
{
	fill: #131a2f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

/*********************************
6.5 Icon Boxes
*********************************/

.icon_boxes
{
	margin-top: 96px;
}
.icon_box_container
{
	margin-top: 74px;
}
.icon_box_image
{
	display: inline-block;
	height: 62px;
}
.icon_box_image img
{
	max-height: 100%;
}
.icon_box:hover .svg path,
.icon_box:hover .svg rect,
.icon_box:hover .svg polygon
{
	fill: #fe3c52;
}
.icon_box svg
{
	height: 62px;
	width: auto;
}
.icon_box_title
{
	display: inline-block;
	vertical-align: bottom;
	font-size: 24px;
	font-weight: 300;
	color: #131a2f;
	padding-left: 22px;
}
.icon_box_text
{
	margin-top: 14px;
}
.icon_box p:last-of-type
{
	margin-bottom: 0;
}
.icon_box_more
{
	display: inline-block;
	position: relative;
	font-size: 12px;
	font-weight: 400;
	color: #131a2f;
	margin-top: 35px;
	overflow: hidden;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.icon_box_more:hover
{
	color: #fe3c52;
}
.icon_box_more::before
{
	display: block;
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	content: '';
	background: #fe3c52;
	-webkit-transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
    -moz-transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
    -ms-transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
    -o-transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
    transition: all 0.5s cubic-bezier(0.615, 0.19, 0.305, 0.91);
}
.icon_box_more:hover::before
{
	left: 100%;
}

/*********************************
7. Footer
*********************************/

.footer
{
	width: 100%;
	background: #080d1d;
	padding-top: 79px;
	padding-bottom: 79px;
}
.footer_about
{
	width: 100%;
}
.footer .logo
{
	padding-left: 32px;
}
.footer .logo_image
{
	left: 0;
}
.footer_about_text
{
	font-size: 12px;
	font-weight: 300;
	line-height: 2.5;
	color: #7d8293;
	margin-top: 35px;
}
.copyright
{
	font-size: 12px;
	font-weight: 300;
	line-height: 2.5;
	color: #7d8293;
	margin-top: 39px;
}
.footer_latest
{
	width: 100%;
}
.footer_title
{
	font-size: 24px;
	font-weight: 300;
	color: #FFFFFF;
}
.footer_latest_item
{
	margin-bottom: 27px;
}
.footer_latest_item:last-child
{
	margin-bottom: 0;
}
.footer_latest_content
{
	margin-top: 33px;
}
.footer_latest_image
{
	display: inline-block;
	width: 78px;
	height: 78px;
}
.footer_latest_image img
{
	max-width: 100%;
}
.footer_latest_item_content
{
	display: inline-block;
	vertical-align: top;
	margin-top: -4px;
	padding-left: 19px;
}
.footer_latest_item_title a
{
	font-size: 16px;
	font-weight: 300;
	color: #7d8293;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.footer_latest_item_title a:hover
{
	color: #fe3c52;
}
.footer_latest_item_date
{
	font-size: 12px;
	font-weight: 300;
	color: #fe3c52;
	margin-top: 10px;
}
.tags_content
{
	margin-top: 32px;
}
.tag
{
	height: 36px;
	background: rgba(254,60,82,1);
	margin-right: 6px;
	margin-bottom: 6px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tag a
{
	display: block;
	font-size: 12px;
	font-weight: 300;
	padding-left: 27px;
	padding-right: 27px;
	line-height: 36px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.tag:hover
{
	background: rgba(254,60,82,0.8);
}
